{% extends "template.html" %}
{% load i18n %}


{% block main-information %}
	
  <div class="content-half">
	      <div class="content-title">
			    Bio
	      </div>
	      <div class="content">
	      Always seeking to expand his horizons, New Jersey-born countertenor
	      Eric Schlossberg is a man of many talents. His recent performance
	      record has been a display of his prowess in both early and new music;
	      in his 2014/2015 season, Eric sang the title role in Ravel's L'enfant
	      et ls Sortil&egrave;, Nerone in L'incoronazione di Poppea, Tolomeo in
	      Giulio Cesare, Cirilla in Cavalli's Gli Amori d'Apollo e di Dafne, and
	      Damon in Acis and Galatea.
	      <br/><br/>
	      More recently Eric began his foray into the world of Chinese art song
	      with the prestigious iSING! International Young Artists Festival.
	      During this festival, he performed in Mandarin with the Shanghai Philharmonic
	      Orchestra and the Shanghai Symphony Orchestra in various cities throughout China.
	      <br/><br/>
	      In 2016, Eric will be performing his first US premiere of a new opera with
	      the Thompson Street Opera Company in Louisville, KY.
	      <br/><br/>
	      <!--
	      In addition to pursuing a career in opera, Eric is also an experienced
	      software engineer; his recently finished app, OpusAtlas.com, a slick
	      digital performance archives, is generating a buzz amongst colleagues and fans
	      alike.
	      </div>-->
  </div>
{% endblock %}
