{% extends "template.html" %}
{% load i18n %}

{% block main-information %}
	
  <div class="content-half">
    <div style="margin-top: 20px;"></div>
    <div class="opusatlas-eventwidget" data-href="/artist/1/" data-objecthref="/eric-schlossberg" data-style="center" data-titlesoff="false" data-title="false" data-ue="true" data-pe="false" data-image="true" data-linkcolor="5C6ECC"></div>
    <div class="opusatlas-eventwidget" data-href="/artist/1/" data-objecthref="/eric-schlossberg" data-style="center" data-titlesoff="false" data-ue="false" data-image="true" data-linkcolor="5C6ECC"></div><script async="" defer="" type="text/javascript" src="//static.opusatlas.com/js/plugins.js"></script>
    
  </div>
{% endblock %}
