{% extends "template.html" %}
{% load i18n %}

{% block main-img %}/media/img/admeto-faded.jpg{% endblock %}

{% block main-information %}
	
	<div class="content-half">
		<div class="content-title center">
			{% trans "Ah, Si, Morro" %}
			<div class="small-title">
				{% trans "Handel's Admeto" %}
			</div>
		</div>
		<div class="content center">
			<!--
			<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/186372672&amp;color=51c746&amp;auto_play=false&amp;show_artwork=false"></iframe>
			-->
			<audio controls>
				<source src="/media/files/AhSiMorro.mp3" type="audio/mpeg">
				Your browser does not support the audio element.
			</audio>
		</div>
		<br/>
		
		<div class="content-title center">
			{% trans "Cerco il mio ben cos&#236;" %}
			<div class="small-title">
				{% trans "Gluck's Orfeo ed Euridice" %}
			</div>
		</div>
		<div class="content center">
			<!--<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/141303689&amp;color=51c746&amp;auto_play=false&amp;show_artwork=false"></iframe>
			-->
			<audio controls>
				<source src="/media/files/Cerco1.mp3" type="audio/mpeg">
				Your browser does not support the audio element.
			</audio>
		</div>
		<br/>
		{% comment %}
		
		<div class="content-title center">
			{% trans "Domero la tua Fierezza" %}
			<br/>
			{% trans "Handel's Giulio Cesare" %}
		</div>
		<div class="content">
			<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/170258368&amp;color=51c746&amp;auto_play=false&amp;show_artwork=false"></iframe>
		</div>
		<br/>
		
		
		<div class="content-title center">
			{% trans "Vivi Tiranno" %}
			<br/>
			{% trans "Handel's Rodelinda" %}
			<div class="small-title">
			{% trans "with pianist Noriko Yasuda" %}
			</div>
		</div>
		<div class="content">
			<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/157779777&amp;color=51c746&amp;auto_play=false&amp;show_artwork=false"></iframe>
		</div>
		<br/>
		
		<div class="content-title center">
			{% trans "O Patria...Di Tanti Palpiti" %}
			<br/>
			{% trans "Rossini's Tancredi" %}
			<div class="small-title">
			{% trans "with pianist Thomas Enman" %}
			</div>
		</div>
		<div class="content">
			<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/157687818&amp;color=51c746&amp;auto_play=false&amp;show_artwork=false"></iframe>
		</div>
		<br/>

		{% comment %}
		<div class="content-title center">
			{% trans "Cara Lontano" %}
			<br/>
			{% trans "Mozart's Ascanio in Alba" %}
			<div class="small-title">
			{% trans "with pianist Noriko Yasuda" %}
			</div>
		</div>
		<div class="content">
			<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/157777073&amp;color=51c746&amp;auto_play=false&amp;show_artwork=false"></iframe>
		</div>
		<br/>
		
		
		<div class="content-title center">
			{% trans "La Tigre Arde di Sdegno" %}
			<br/>
			{% trans "Handel's Admeto" %}
			<div class="small-title">{% trans "live recording from" %} <br/>
			{% trans "BASOTI, July 2013 " %}
			</div>
		</div>
		<div class="content">
			<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/124365348&amp;color=51c746&amp;auto_play=false&amp;show_artwork=false"></iframe>
		</div>
		{% endcomment %}
  </div>
{% endblock %}
