{% extends "template.html" %}
{% load i18n %}

{% block main-information %}
	
  <div class="content-half">
		<div class="content-title">
			<div>iSING! International Young Artists Festival<br/> Suzhou, China 2015</div>
			<div class="small-title">photo credit: Jacky Photography</div>
		</div>
		<div class="content">
			<img title="photo credit: Jacky Photography" width="100%" src="media/img/ising/204.jpg"/>
			<br/><br/>
			
			<img title="photo credit: Jacky Photography" width="100%" src="media/img/ising/264.jpg"/>
			<br/><br/>

			<img title="photo credit: Jacky Photography" width="100%" src="media/img/ising/459.jpg"/>
			<br/><br/>

			<img title="photo credit: Jacky Photography" width="100%" src="media/img/ising/460.jpg"/>
			<br/><br/>
		</div>
			
			
		<div class="content-title">
			<div>{% trans "Handel's Giulio Cesare" %} <br/>Hawaii Performing Arts Festival 2014</div>
			<div class="small-title"><a class="basiclink" target="_blank" href="http://www.doryschultz.com/photography/">photo credit: Dory Schultz</a></div>
		</div>
		<div class="content">
			<img title="photo credit: Dory Schultz" width="100%" src="media/img/cesare2014/10557311_10103581833458856_1291120415995039204_n.jpg"/>
			<br/><br/>
			
			<img title="photo credit: Dory Schultz" width="100%" src="media/img/cesare2014/1928396_10103581833578616_3521803394100021667_n.jpg"/>
			<br/><br/>
			
			<img title="photo credit: Dory Schultz" width="100%" src="media/img/cesare2014/10345582_10103581832974826_6540308932031740816_n.jpg"/>
			<br/><br/>
			
			<img title="photo credit: Dory Schultz" width="100%" src="media/img/cesare2014/10405608_10103581832590596_1048004164034650070_n.jpg"/>
			<br/><br/>
			
			<img title="photo credit: Dory Schultz" width="100%" src="media/img/cesare2014/10420165_10103581820155516_7200598541042167709_n.jpg"/>
			<br/><br/>
			
			<img title="photo credit: Dory Schultz" width="100%" src="media/img/cesare2014/10570346_10103581821263296_2551122073634247032_n.jpg"/>
			<br/><br/>
			
			<img title="photo credit: Dory Schultz" width="100%" src="media/img/cesare2014/10584019_10103581819975876_9114713877454422329_n.jpg"/>
			<br/><br/>

			<div class="small-title">photo credit: Jim Fruchterman</div>
			<br/>

			<img title="photo credit: Jim Fruchterman" width="100%" src="media/img/cesare2014/10487268_10152197459437539_7349819030503175411_n.jpg"/>
			<br/><br/>

			<img title="photo credit: Jim Fruchterman" width="100%" src="media/img/cesare2014/10534096_10152197060627539_5929565457352773164_n.jpg"/>
			<br/><br/>
			
			<img title="photo credit: Jim Fruchterman" width="100%" src="media/img/cesare2014/10511174_10152197452617539_7744252041264491645_n.jpg"/>
			<br/><br/>

			<img title="photo credit: Jim Fruchterman" width="100%" src="media/img/cesare2014/10553622_10152197459177539_7653300782413738079_n.jpg"/>
			<br/><br/>

			<img title="photo credit: Jim Fruchterman" width="100%" src="media/img/cesare2014/10464298_10152197459537539_449077326526353544_n.jpg"/>
			<br/><br/>
			
			<img title="photo credit: Jim Fruchterman" width="100%" src="media/img/cesare2014/10516868_10152197065262539_2057606659306662494_n.jpg"/>
			<br/><br/>

			<img title="photo credit: Jim Fruchterman" width="100%" src="media/img/cesare2014/10527338_10152197065592539_7215071067391004715_n.jpg"/>
			<br/><br/>
			
			<img title="photo credit: Jim Fruchterman" width="100%" src="media/img/cesare2014/10544350_10152197060392539_3562526154678012531_n.jpg"/>
			<br/><br/>
			
			<img title="photo credit: Jim Fruchterman" width="100%" src="media/img/cesare2014/10524306_10152197452297539_7567210079141124452_n.jpg"/>
			<br/><br/>
			
			
		</div>
		
		<div class="content-title">
			{% trans "Handel's Admeto" %} <br/>BASOTI 2013
		</div>
		<div class="content">
			<img width="100%" src="media/img/admeto2013/DSCN2076-X3.jpg"/>
			<br/><br/>

			<img width="100%" src="media/img/admeto2013/DSCN2344.jpg"/>
			<br/><br/>			

			<img width="100%" src="media/img/admeto2013/DSCN2594-X3.jpg"/>
			<br/><br/>
			
			<img width="100%" src="media/img/admeto2013/DSCN2343.jpg"/>
			<br/><br/>
			
			<img width="100%" src="media/img/admeto2013/DSCN2500-X3.jpg"/>
			<br/><br/>
		</div>
		
		<div class="content-title">
			{% trans "Handel's Giulio Cesare" %} <br/>BASOTI 2012
		</div>
		<div class="content">
			<img width="100%" src="media/img/basoti2012/559164_3981763714963_1834758220_n.jpg"/>
			<br/><br/>
		</div>
		<div class="content-title">
			{% trans "Britten's A Midsummer Night's Dream Scene" %} <br/>BASOTI 2012
		</div>
		<div class="content">
			<img src="media/img/basoti2012/403952_824908779042_1820706885_n.jpg"/>
			<br/><br/>
		</div>
		<div class="content-title">
			{% trans "Mozart's Die Zauberfl&ouml;te" %} <br/>New York Opera Studio 2012
		</div>
		<div class="content">
			<img src="media/img/basoti2012/angel.jpeg"/>
			<br/><br/>
		</div>

		<div class="content-title">
			{% trans "Monteverdi's Il Ritorno d'Ulisse in Patria" %} <br/>Princeton University 2009
		</div>
		<div class="content">
			<img src="media/img/ulysses_eric.jpg"/>
			<br/><br/>
		</div>
  </div>
{% endblock %}
