{% extends "template.html" %}
{% load i18n %}

{% block head-css %}
    {% load media %}
    {% include_media 'resume.css' %}
{% endblock %}

{% block main-information %}

  <div class="content-full">
		
		<div class="content-title">{% trans "Operatic Roles" %}</div>
    <ul class="content">
      <li>
        <div class="colA"><a target="_blank" href="http://en.wikipedia.org/wiki/L%27incoronazione_di_Poppea#Roles">Nerone</a></div>
        <div class="colA"><a target="_blank" href="http://en.wikipedia.org/wiki/L%27incoronazione_di_Poppea">L'incoronazione di Poppea</a></div>
        <div class="colA"><a target="_blank" href="http://www.newyorklyricopera.org/">New York Lyric Opera Theater</a></div>
        <div class="colA">2015</div>
      </li>
      <li>
        <div class="colA"><a target="_blank" href="http://en.wikipedia.org/wiki/Acis_and_Galatea_(Handel)">Damon</a></div>
        <div class="colA"><a target="_blank" href="http://en.wikipedia.org/wiki/Acis_and_Galatea_(Handel)">Acis and Galatea</a></div>
        <div class="colA"><a target="_blank" href="http://hrdctheater.com/acis-and-galatea/">Harvard Early Music Society</a></div>
        <div class="colA">2014</div>
      </li>
      <li>
        <div class="colA"><a target="_blank" href="http://en.wikipedia.org/wiki/L'enfant_et_les_sortil%C3%A8ges#Roles">L'enfant</a></div>
        <div class="colA"><a target="_blank" href="http://en.wikipedia.org/wiki/L'enfant_et_les_sortil%C3%A8ges">L'enfant et les sortil&egrave;ges</a></div>
        <div class="colA"><a target="_blank" href="http://www.newyorklyricopera.org/">New York Lyric Opera Theater</a></div>
        <div class="colA">2014</div>
      </li>
      <li>
        <div class="colA"><a target="_blank" href="http://en.wikipedia.org/wiki/Giulio_Cesare#Roles">Tolomeo</a></div>
        <div class="colA"><a target="_blank" href="http://en.wikipedia.org/wiki/Giulio_Cesare">Giulio Cesare</a></div>
        <div class="colA"><a target="_blank" href="http://hawaiiperformingartsfestival.org/">Hawaii Performing Arts Festival</a></div>
        <div class="colA">2014</div>
      </li>
      <li>
        <div class="colA"><a target="_blank" href="http://en.wikipedia.org/wiki/Gli_amori_d'Apollo_e_di_Dafne#Roles">Cirilla</a></div>
        <div class="colA"><a target="_blank" href="http://en.wikipedia.org/wiki/Gli_amori_d'Apollo_e_di_Dafne">Gli amori d'Apollo e di Dafne</a></div>
        <div class="colA"><a target="_blank" href="http://www.veniceoperaproject.com/">Venice Opera Project</a></div>
        <div class="colA">2014</div>
      </li>
      <li>
        <div class="colA"><a target="_blank" href="http://en.wikipedia.org/wiki/Gli_amori_d'Apollo_e_di_Dafne#Roles">Morfeo</a></div>
        <div class="colA"><a target="_blank" href="http://en.wikipedia.org/wiki/Gli_amori_d'Apollo_e_di_Dafne">Gli amori d'Apollo e di Dafne</a></div>
        <div class="colA"><a target="_blank" href="http://www.veniceoperaproject.com/">Venice Opera Project</a></div>
        <div class="colA">2014</div>
      </li>
      <li>
        <div class="colA"><a target="_blank" href="http://en.wikipedia.org/wiki/Admeto#Roles">Admeto</a></div>
        <div class="colA"><a target="_blank" href="http://en.wikipedia.org/wiki/Admeto">Admeto</a></div>
        <div class="colA"><a target="_blank" href="http://www.basoti.net/">Bay Area Summer Opera Theater Institute</a></div>
        <div class="colA">2013</div>
      </li>
      <li>
        <div class="colA"><a target="_blank" href="http://en.wikipedia.org/wiki/L'incoronazione_di_Poppea#Roles">Arnalta</a></div>
        <div class="colA"><a target="_blank" href="http://en.wikipedia.org/wiki/L'incoronazione_di_Poppea#">L'incoronazione di Poppea</a></div>
        <div class="colA"><a target="_blank" href="http://www.newyorklyricopera.org/">New York Lyric Opera Theater</a></div>
        <div class="colA">2012</div>
      </li>
      <li>
        <div class="colA"><a target="_blank" href="http://en.wikipedia.org/wiki/Giulio_Cesare#Roles">Tolomeo</a></div>
        <div class="colA"><a target="_blank" href="http://en.wikipedia.org/wiki/Giulio_Cesare">Giulio Cesare</a></div>
        <div class="colA"><a target="_blank" href="http://www.basoti.net/">Bay Area Summer Opera Theater Institute</a></div>
        <div class="colA">2012</div>
      </li>
      <li>
        <div class="colA"><a target="_blank" href="http://en.wikipedia.org/wiki/The_Magic_Flute#Roles">3rd Spirit</a></div>
        <div class="colA"><a target="_blank" href="http://en.wikipedia.org/wiki/The_Magic_Flute">Die Zauberfl&#246;te</a></div>
        <div class="colA"><a target="_blank" href="http://www.newyorkoperastudio.org/courses_2011flute.html">New York Opera Studio</a></div>
        <div class="colA">2011</div>
      </li>
      <li>
        <div class="colA"><a target="_blank" href="http://en.wikipedia.org/wiki/Il_ritorno_d'Ulisse_in_patria#Roles">L'umana Fragilit&#224;</a></div>
        <div class="colA"><a target="_blank" href="http://en.wikipedia.org/wiki/Il_ritorno_d'Ulisse_in_patria">Il Ritorno di Ulisse in Patria</a></div>
        <div class="colA"><a target="_blank" href="http://www.towntopics.com/jan1409/theater.php">Princeton University</a></div>
        <div class="colA">2009</div>
      </li>
      <li>
        <div class="colA"><a target="_blank" href="http://en.wikipedia.org/wiki/Il_ritorno_d'Ulisse_in_patria#Roles">Pisandro</a></div>
        <div class="colA"><a target="_blank" href="http://en.wikipedia.org/wiki/Il_ritorno_d'Ulisse_in_patria">Il Ritorno di Ulisse in Patria</a></div>
        <div class="colA"><a target="_blank" href="http://www.towntopics.com/jan1409/theater.php">Princeton University</a></div>
        <div class="colA">2009</div>
      </li>
    </ul>
    
    <div class="content-title">{% trans "Partial Operatic Roles" %}</div>
    <ul class="content">
      <li>
        <div class="colB"><a target="_blank" href="http://en.wikipedia.org/wiki/Serse#Roles">Arsamene</a></div>
        <div class="colB"><a target="_blank" href="http://en.wikipedia.org/wiki/Serse">Serse</a></div>
        <div class="colB"><a target="_blank" href="http://www.longy.edu/academics/graduate-degrees-and-programs/programs/opera/">Longy School of Music</a></div>
        <div class="colB">2014</div>
      </li>
      <li>
        <div class="colB"><a target="_blank" href="http://en.wikipedia.org/wiki/Orfeo_ed_Euridice#Roles">Orfeo</a></div>
        <div class="colB"><a target="_blank" href="http://en.wikipedia.org/wiki/Orfeo_ed_Euridice">Orfeo ed Euridice</a></div>
        <div class="colB"><a target="_blank" href="http://www.longy.edu/academics/graduate-degrees-and-programs/programs/opera/">Longy School of Music</a></div>
        <div class="colB">2013</div>
      </li>
      <li>
        <div class="colB"><a target="_blank" href="http://en.wikipedia.org/wiki/A_Midsummer_Night's_Dream_(opera)#Roles">Oberon</a></div>
        <div class="colB"><a target="_blank" href="http://en.wikipedia.org/wiki/A_Midsummer_Night's_Dream_(opera)">A Midsummer Night's Dream</a></div>
        <div class="colB"><a target="_blank" href="http://www.longy.edu/academics/graduate-degrees-and-programs/programs/opera/">Longy School of Music</a></div>
        <div class="colB">2013</div>
      </li>
      <li>
        <div class="colB"><a target="_blank" href="http://en.wikipedia.org/wiki/Giulio_Cesare#Roles">Cornelia</a></div>
        <div class="colB"><a target="_blank" href="http://en.wikipedia.org/wiki/Giulio_Cesare">Giulio Cesare</a></div>
        <div class="colB"><a target="_blank" href="http://www.longy.edu/academics/graduate-degrees-and-programs/programs/opera/">Longy School of Music</a></div>
        <div class="colB">2013</div>
      </li>
      <li>
        <div class="colB"><a target="_blank" href="http://en.wikipedia.org/wiki/Giulio_Cesare#Roles">Giulio Cesare</a></div>
        <div class="colB"><a target="_blank" href="http://en.wikipedia.org/wiki/Giulio_Cesare">Giulio Cesare</a></div>
        <div class="colB"><a target="_blank" href="http://www.basoti.net/">Bay Area Summer Opera Theater Institute</a></div>
        <div class="colB">2013</div>
      </li>
      <li>
        <div class="colB"><a target="_blank" href="http://en.wikipedia.org/wiki/A_Midsummer_Night's_Dream_(opera)#Roles">Oberon</a></div>
        <div class="colB"><a target="_blank" href="http://en.wikipedia.org/wiki/A_Midsummer_Night's_Dream_(opera)">A Midsummer Night's Dream</a></div>
        <div class="colB"><a target="_blank" href="http://www.basoti.net/">Bay Area Summer Opera Theater Institute</a></div>
        <div class="colB">2012</div>
      </li>
      <li>
        <div class="colB"><a target="_blank" href="http://en.wikipedia.org/wiki/Orlando_(opera)#Roles">Medoro</a></div>
        <div class="colB"><a target="_blank" href="http://en.wikipedia.org/wiki/Orlando_(opera)">Orlando</a></div>
        <div class="colB"><a target="_blank" href="http://www.basoti.net/">Bay Area Summer Opera Theater Institute</a></div>
        <div class="colB">2012</div>
      </li>
      <li>
        <div class="colB">Vertumne</div>
        <div class="colB"><a target="_blank" href="http://en.wikipedia.org/wiki/Les_%C3%A9l%C3%A9mens">Les &Eacute;l&eacute;mens</a>, <a target="_blank" href="http://en.wikipedia.org/wiki/Andr%C3%A9_Cardinal_Destouches"><i>Destouches</i></a></div>
        <div class="colB"><a target="_blank" href="http://www.princeton.edu/music/multimedia/performance/mistress-of-the-arts/mistressofthearts.pdf">Princeton University</a></div>
        <div class="colB">2010</div>
      </li>
    </ul>
    
    <!--
    <div class="content-title">Competitions</div>
    <ul class="content">
      <li>
        <div class="colD">2009 University Vocal Competition <i>winner</i></div>
        <div class="colD">Princeton University</div>
        <div class="colD">2009</div>
      </li>
    </ul>
    
    <div class="content-title">Education</div>
    <ul class="content">
	      <li>
		<div class="colC">Master of Music in <a href="http://www.longy.edu/conservatory/acad_departments/dept_opera.htm" target="_blank">Opera</a><i>&#8224;</i></div>
		<div class="colC">Longy School of Music</div>
		<div class="colC">2015</div>
	      </li>
	      
			<li>
				<div class="colC">BSE in <a href="http://www.cs.princeton.edu/" target="_blank">Computer Science</a>, <br/><a target="_blank" href="http://www.princeton.edu/music/certificate-of-music/">Certificate in Vocal Performance</a></td>
				</div>
				<div class="colC">
        Princeton University
				</div>
				<div class="colC">
        2010
				</div>
			</li>
    </ul>
    -->
    
    <h5><i>* {% trans "denotes upcoming" %}</i></h5>
		
		
		
		
		<!--<div id="viewas">
			&#160;&#160;<a target="_blank" href="currentResume">{% trans "View Curriculum Vitae" %}</a>
		</div>-->
  </div>

	
  
{% endblock %}
